/* Your app custom files in this file */
/* Tab bar icons */


.banner-img{
  width : 100%;
/*  height: auto;*/
}

.banner-text{
  font-size: larger;
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: 0px;
}

.blank-space{
  width:100%;
  height:1em;
  background-color:white;
}
.navbar-home{
  height : auto;
}


/*custom*/

.whiteBg{
  background-color: white;
}

.custom-content{
  padding: 0px;
  margin-bottom: 50px;
}

.custom-content .card{
  margin: 0px;
}
.custom-card{
  position: relative;
  margin-bottom: 15px;
}

.custom-card .card-top{
  position: absolute; 
  top: 0px; 
  width: 100%; 
  height: 15vw;
  background-color: rgba(255, 255, 255, 0.9);
}

.top-image{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/alexa.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image2{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/roger.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image3{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/bernard.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image4{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/luella.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image5{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/mei.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-name{
  float: left; 
  margin-left: 3vw;
}

.top-name .first-name{
  font-size: 5vw; 
  line-height: 10vw; 
  font-family: 'Roboto'; 
  color: #4A90E2;
}
.top-name .top-date{
  font-size: 3.5vw; 
  line-height: 1.5vw; 
  font-family: 'Roboto';
}

.top-right{
  float: right; 
  margin-right: 2vw; 
  text-align: right;
}

.top-right .top-arrow{
  width: 7vw; 
  height: 5vw; 
  margin-top:2vw;
}

.top-tag{
  font-size: 3.5vw;
  line-height: 1.5vw;
  font-family: 'Roboto'; 
  margin-top:2vw;
}



.card-bottom{
  width: 100%; 
  height: 20vw; 
  background: white;
}

.bottom-data{
  width: 100%; 
  display: flex; 
  display: -webkit-flex; 
  text-align: center; 
  margin-top: 3vw;
}

.content-data{
  -webkit-flex: 1; 
  flex: 1; 
  align-items: center; 
  justify-content: center; 
  display: flex; 
  font-size:4vw; 
  font-family: 'Roboto';
}
.bottom-icon{
  width: 7vw; 
  margin: 0px 2vw; 
  height: 6.5vw;
}
.bottom-icon1{
  width: 5vw; 
  margin: 0px 2vw; 
  height: 6.5vw;
}
.bottom-location{
  font-size: 5.5vw; 
  padding-left: 6.7vw; 
  font-family: 'Roboto';
}

.navbar-through .with-subnavbar .page-content{
  padding-top: 20px;
}

.toolbar-through .page-content {
  padding-bottom: 0px;
}

.subnavbar{
  padding: 0px;
}

.navbar-home .buttons-row .button:first-child{
  border-radius: 0px;
/*  border-left-width: 0px;*/
  border-left-width: 1px;
  border-left-style: solid;
}

.navbar-home .buttons-row .button:last-child {
  border-radius: 0px;
}

.navbar-home .button.active {

  border-bottom: 5px solid white;
}

.navbar-home .button{
  border-width: 0px;
  background: #4A90E2 !important;
  color:  #fff;
  padding-top: 8px;
  height: 100%;
  font-family: Roboto;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.navbar-home .buttons-row{
  height: 100%;
}

.tab-link img{
  height: 26px;
}

.tab-link {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tabbar a.active {
  filter: grayscale(0%) !important;
}

/*Bookmark*/
.searchbar input[type=search]  {
  font-size: 16px;
  background-color: #F0F0F0;
  border-radius: 3px;
  background-size: 15px 15px;
  border-color: rgba(164, 164, 164, 0.5);
}

.subtractMargin{
  margin-top: 10px;
}

/*search*/
#searchBox input[type=search]{
  width: 95%;
}


.link-theme{
  color: #4A90E2;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;

}

.searchFont{
  margin: 10px 10px;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 500;
  color: #4A90E2;
}



