/* Your app custom files in this file */
/* Tab bar icons */

.whiteBackground{
  background-color: white;
}

.banner-img{
  width : 100%;
/*  height: auto;*/
}

.banner-text{
  font-size: larger;
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: 0px;
}

.blank-space{
  width:100%;
  height:1em;
  background-color:white;
}
.navbar-home{
  height : auto;
}


/*custom*/

.whiteBg{
  background-color: white;
}

.custom-content{
  padding: 0px;
  margin-bottom: 50px;
}

.custom-content .card{
  margin: 0px;
}
.custom-card{
  position: relative;
  margin-bottom: 15px;
}

.custom-card .card-top{
  position: absolute; 
  top: 0px; 
  width: 100%; 
  height: 15vw;
  background-color: rgba(255, 255, 255, 0.9);
}

.top-image{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/alexa.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image2{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/roger.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image3{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/bernard.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image4{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/luella.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-image5{
  float: left; 
  width: 13vw; 
  height: 13vw; 
  border-radius: 8vw; 
  background: url("../img/mei.jpg");
  margin-left: 2vw; 
  margin-top: 1vw; 
  background-size: 13vw;
}

.top-name{
  float: left; 
  margin-left: 3vw;
}

.top-name .first-name{
  font-size: 5vw; 
  line-height: 10vw; 
  font-family: 'Roboto'; 
  color: #4A90E2;
}
.top-name .top-date{
  font-size: 3.5vw; 
  line-height: 1.5vw; 
  font-family: 'Roboto';
}

.top-right{
  float: right; 
  margin-right: 2vw; 
  text-align: right;
}

.top-right .top-arrow{
  width: 7vw; 
  height: 5vw; 
  margin-top:2vw;
}

.top-tag{
  font-size: 3.5vw;
  line-height: 1.5vw;
  font-family: 'Roboto'; 
  margin-top:2vw;
}



.card-bottom{
  width: 100%; 
  height: 20vw; 
  background: white;
}

.bottom-data{
  width: 100%; 
  display: flex; 
  display: -webkit-flex; 
  text-align: center; 
  margin-top: 3vw;
}

.content-data{
  -webkit-flex: 1; 
  flex: 1; 
  align-items: center; 
  justify-content: center; 
  display: flex; 
  font-size:4vw; 
  font-family: 'Roboto';
}
.bottom-icon{
  width: 7vw; 
  margin: 0px 2vw; 
  height: 6.5vw;
}
.bottom-icon1{
  width: 5vw; 
  margin: 0px 2vw; 
  height: 6.5vw;
}
.bottom-location{
  font-size: 5.5vw; 
  padding-left: 6.7vw; 
  font-family: 'Roboto';
}

.navbar-through .with-subnavbar .page-content{
  padding-top: 20px;
}

.toolbar-through .page-content {
  padding-bottom: 0px;
}

.subnavbar{
  padding: 0px;
}

.navbar-home .buttons-row .button:first-child{
  border-radius: 0px;
/*  border-left-width: 0px;*/
  border-left-width: 1px;
  border-left-style: solid;
}

.navbar-home .buttons-row .button:last-child {
  border-radius: 0px;
}

.navbar-home .button.active {

  border-bottom: 5px solid white;
}

.navbar-home .button{
  border-width: 0px;
  background: #4A90E2 !important;
  color:  #fff;
  padding-top: 8px;
  height: 100%;
  font-family: Roboto;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.navbar-home .buttons-row{
  height: 100%;
}

.tab-link img{
  height: 26px;
}

.tab-link {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tabbar a.active {
  filter: grayscale(0%) !important;
}

/*Bookmark*/
.searchbar input[type=search]  {
  font-size: 16px;
  background-color: #F0F0F0;
  border-radius: 3px;
  background-size: 15px 15px;
  border-color: rgba(164, 164, 164, 0.5);
}

.subtractMargin{
  margin-top: 10px;
}

/*search*/
#searchBox input[type=search]{
  width: 95%;
}


.link-theme{
  color: #4A90E2;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;

}

.searchFont{
  margin: 10px 10px;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 500;
  color: #4A90E2;
}

/*Filter page*/

.navHeader{
  font-family: 'roboto';
  font-size: 5vw;
  font-weight: 500;
  color: #4A90E2;
}

.navLeft
{
  font-family: 'roboto';
  font-size: 4vw;
  font-weight: 400;
  color: #4A90E2;
}

.arrowLeft
{
    font-size: 5vw;
  font-weight: 900;
    color: #4A90E2;
}

.navRight
{
  font-family: 'roboto';
  font-size: 4vw;
  font-weight: 400;
  color: #4A90E2;
}

.margin3vw
{
  margin-top: 3vw;
}

.tripCat{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*Filter by Region buttons*/
input[type=checkbox] {
display:none;
}
 
#region1 + label
{
background: url("../img/Africa.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region1:checked + label
{
background: url("../img/AfricaSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region2 + label
{
background: url("../img/Asia.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region2:checked + label
{
background: url("../img/AsiaSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region3 + label
{
background: url("../img/Australia.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region3:checked + label
{
background: url("../img/AustraliaSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region4 + label
{
background: url("../img/Central_America.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region4:checked + label
{
background: url("../img/Central_AmericaSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region5 + label
{
background: url("../img/Europe.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region5:checked + label
{
background: url("../img/EuropeSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region6 + label
{
background: url("../img/Middle_East.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region6:checked + label
{
background: url("../img/Middle_EastSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region7 + label
{
background: url("../img/North_America.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region7:checked + label
{
background: url("../img/North_AmericaSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

#region8 + label
{
background: url("../img/South_America.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}
#region8:checked + label
{
background: url("../img/South_AmericaSelected.jpg") no-repeat;
background-size: 100%;
height: 30vw;
width: 100%;
display:inline-block;
}

/*Trip category filter buttons*/
#cat1 + label
{
background: url("../img/Hiking.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat1:checked + label
{
background: url("../img/HikingSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat2 + label
{
background: url("../img/Culture.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat2:checked + label
{
background: url("../img/CultureSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat3 + label
{
background: url("../img/Events_Festival.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat3:checked + label
{
background: url("../img/Events_FestivalSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat4 + label
{
background: url("../img/Nature.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat4:checked + label
{
background: url("../img/NatureSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat5 + label
{
background: url("../img/Honeymoon.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat5:checked + label
{
background: url("../img/HoneymoonSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat6 + label
{
background: url("../img/Solo_Travel.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat6:checked + label
{
background: url("../img/Solo_TravelSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat7 + label
{
background: url("../img/Photography.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat7:checked + label
{
background: url("../img/PhotographySelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

#cat8 + label
{
background: url("../img/Dining.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}
#cat8:checked + label
{
background: url("../img/DiningSelected.jpg") no-repeat;
background-size: 100%;
height: 45vw;
width: 100%;
display:inline-block;
}

.sortButton{
  border-radius: 1vw;
  border: 2px solid #4A90E2;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin: 2vw;
  padding: 10px 40px;
  display: inline-block;
  font-size: 4vw; font-family: 'Roboto', sans-serif;
  width: 20vw;
}

#sortBtn1 input, #sortBtn2 input{
  display: none;
}

#sortBtn1 label, #sortBtn2 label{
  border-radius: 1vw;
  border: 2px solid #4A90E2;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin: 2vw;
  padding: 10px 40px;
  display: inline-block;
  font-size: 4vw; font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4A90E2;
  width: 20vw;
}

#sortBtn1 input:checked + label, #sortBtn2 input:checked + label {
  color: white ;
  background-color: #4A90E2 ;
}

/*.select{
  color: white !important;
  background-color: #4A90E2 !important;
}*/

.sortBy{
  margin:2vw ;
  font-size: 5vw; font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4A4A4A;
}

.filterBy{
  font-size: 5vw; font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
  font-weight: 500;
}

/*Activities*/

.heart-icon{
  margin-top: 1vw;
  width: 5vw;
}

.activity{
  margin-left: 18vw;
}

.overflow{
  overflow: auto;
}

.subTitle{
  margin-left: 2vw;
  font-size: 3vw;
  font-weight: 400;
  color: #4A4A4A
}

/*Trip DC page*/

.tripHeader{
  font-family: 'roboto';
  font-size: 5vw;
  font-weight: 500;
  color: #4A4A4A;
}

.followbtn{
  float: right;
  display: inline-block;
}

.follow{
  border-radius: 1vw;
  border: 2px solid #4A90E2;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin: 2vw;
  padding: 7px 25px;
  display: inline-block;
  font-size: 4vw; font-family: 'Roboto', sans-serif;
  width: 20vw;
}

.dayTabs{
  background-color: #4A90E2;
  color: white;
  padding: 7px 15px;
  text-align: center;
  vertical-align: text-bottom;

}
.dayHeader1{
  display: inline-block;
  margin-left: 18vw;
  font-size: 5vw; font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.daynavRight{
  float: right;
  display: inline-block;
  font-size: 4vw;
  text-decoration: underline;

}

.dayHeader2{
  display: inline-block;
  margin-right: 18vw;
  font-size: 5vw; font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.daynavLeft{
  float: left;
  display: inline-block;
  font-size: 4vw;
  text-decoration: underline;

}

.tripIcons{
  width: 6vw;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}

.detailHeader{
    display: inline-block;
    font-size: 5vw; font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.detailDate{
    display: inline-block;
    font-size: 3vw; font-family: 'Roboto', sans-serif;
}

.alignCenter{
  vertical-align: middle;
}

.mapIcon{
  width: 9vw;
  float: left;
  display: inline-block;
}

.marginTop2vw{
  margin-top: 2vw;
}

.detailP{
  font-size: 4.5vw; font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.5px;
  margin:0px 0px;

}

.tripImage{
  width: 100%;
  height: auto;
/*  margin-top: -20px
  margin-bottom: -20px;*/
}

.tips{
  background-color: rgba(74,144,226,0.15);
  font-size: 4.5vw; font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.5px;
}

.marginBottom{
  margin-bottom: 30vw;

}

.readMoreBtn{
  text-decoration: underline;
  display: inline-block;
}

.subMargin10{
  margin-bottom: 10px;
}

/*Me page*/

.coverimg{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.coverOverlay{
  position: absolute; 
  top: 10vw; 
  height: 65vw;
  width: 80%;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.9);
  text-align:center;
  margin: 0 10%;
}

.profilePic{
  width: 23vw; 
  height: 23vw; 
  border-radius: 50%; 
  background: url("../img/roger.jpg");
  margin: 5vw auto;
  margin-bottom: 2vw;
  background-size: 23vw;
}

.first-name{
  font-size: 5vw; 
  line-height: 10vw; 
  font-family: 'Roboto';
  font-weight: 700; 
  color: #4A90E2;
}

.editProfile{
  width: 13vw;
  height: 13vw;
  position: absolute;
  display: inline-block;
  background: url("../icons/editprofile.png")no-repeat;
  top: 3vw;
  right: 3vw;
  background-size: 13vw;
}

.profileTable{
  margin: 2vw auto;
  border-spacing: 0px 0px;
}

.profileLabel{
  font-size: 4vw; 
  line-height: 8vw; 
  font-family: 'Roboto';
  color: #4A90E2;
}

.profileNum{
  margin-top: 0; 
  font-weight: 700;
}

.tablePadding{
  padding-left: 3vw;
  padding-right: 3vw;
}

.borderLR{
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
}

.profileBtn{
  width: 80%;
  margin: 2vw 10%;
  border: 2px solid #4A90E2;
  text-align: center;
  text-decoration: none;
  border-radius: 1vw;
  background: white;
  padding-top: 3vw;
  padding-bottom: 3vw;
  font-size: 4vw;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #4A90E2;
  display: inline-block;
  
}

.iconadd{
  background: url("../icons/add.png") no-repeat right;
  background-size: 6vw;
  padding-right: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;

}

.iconbadge{
  background: url("../icons/Notification.png") no-repeat right;
  background-size: 6vw;
  padding-right: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.optionsicon{
  background: url("../img/arrow.png") no-repeat right;
  background-size: 6vw;
  padding-right: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}


.publicIcon{
  background: url("../icons/world.png") no-repeat right;
  background-size: 4vw;
  padding-right: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

/*Create Trip*/


/*Popover*/

.popover {
  width: 60vw;
  border-radius: 0px;
 }

 .trashIcon{
  background: url("../icons/garbage.png") no-repeat right;
  background-size: 5vw;
  padding-right: 7vw;
  padding-top: 2vw;
  margin-right: 2vw;
}

 .videoIcon{
  background: url("../icons/addVideos.png") no-repeat right;
  background-size: 5vw;
  padding-right: 7vw;
  padding-top: 2vw;
  margin-right: 2vw;
}

 .globeIcon{
  background: url("../icons/public.png") no-repeat right;
  background-size: 5vw;
  padding-right: 7vw;
  padding-top: 2vw;
  margin-right: 2vw;
}

#next-btn{
  color: #4A90E2 !important;
  font-size: 5vw;
  filter: grayscale(0%);
}

.createTool img{
  vertical-align: middle;
  height: 36px;
}

.createToolBar{
  padding-left: 6vw;
  padding-right: 6vw;
}
